<!DOCTYPE html>
<html>
<head>
	<title>Techathlon-3000</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

	<link href="Style/style1.css" rel='stylesheet' type="text/css">
	<script src="jquery.js"></script>
</head>
<body>
	<div class = "container">
		<div class = "navbar">
			<a href = "/" style = "text-decoration:none;color:#67adff;float:left;margin-top:2%;margin-left:15%;font-weight:300;font-size:1.3em"><span>Techathlon-3000</span></a>
			<nav>
				<ul style = "width:60%;margin-right:15%">
					<a href = "/signIn.html" ><li>Sign In</li></a>
					<a href = "/rules.html" class = "active"><li>Rules</li></a>
					<a href = "/home.html" ><li>Home</li></a>
				</ul>
			</nav>
		</div>
		<div id='app'></div>
	</div>

	<script src="/Outputs/rules.js"></script>
</body>
</html>
